name: Build PHP Binary And Release

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * 1"

env:
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        run: echo ${{ github.sha }} > release.txt

      - name: Release Binary
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          name: php
          tag_name: php
          files: |
            release.txt
          body_path: ${{ github.workspace }}-CHANGELOG.txt
          overwrite_files: true
